* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap');


.empty{
  height: 60px;
  width: 100%;
  background-color: violet;
}

p{
  font-family: 'Raleway', sans-serif;
  /* font-weight: 600; */
  color: black;
  line-height: 25px;
  font-size: 17px;
}

